<!--<h1>
    {{title}}
</h1>-->
<ng2-slim-loading-bar [color]="'grey'" [height]="'4px'"></ng2-slim-loading-bar>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="" *ngIf="!authenticationService.authenticated()"><a routerLink="login">Login</a></li>
            <li class=""><a routerLink="todo">ToDo</a></li>
            <li class="" *ngIf="authenticationService.authenticated()"><a routerLink="login" (click)="logout()">Logout</a></li>
            <!--<li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>-->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<!--<smart-tables> </smart-tables>-->
<!--*ngIf="!authenticationService.authenticated()-->